<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign Up</h3>
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
            <div class="formGroup">
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="Email Address"
                  required
                />
              </div>
              <div class="formGroup">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  required
                />
              </div>
              <div class="formGroup">
                <input
                  type="submit"
                  class="btn btn-primary"
                  value="Sign Up"
                />
              </div>
        </form>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
        <!-- Continue with Google -->
        <div class="formGroup">
          <button
            type="button"
            class="btn googleBtn"
        
          >
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Already have an account?
          <a class="redirect text-primary text-decoration-none" routerLink="/sign-in">Log In</a></span
        >
      </div>
    </div>
  </div>
